
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: grid;
   place-content: center;
    min-height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 19rem;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.qr-code {
    width: 100%;
    border-radius: 1rem;
}

a:focus-visible {
    outline: 3px solid black;
    outline-offset: 3px;
  }

h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    margin: 24px 0 16px;
}

p {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
    margin-bottom: 24px;
}

